/* Root styles */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
  

// Description: Custom theme variables for the app to override Bootstrap variables
$background-color: #0F1020;
$primary-color: #EFC3F5;
$accent-color: #7353BA;
$highlight-color: #ffb6c1;
$card-bg-color: #2F195F;
$border-radius: 12px;

// Override Bootstrap Variables
$body-bg: $background-color;
$body-color: $primary-color;
$link-color: $accent-color;
$btn-border-radius: $border-radius;

@import "bootstrap/scss/bootstrap";


// Navbar custom styles using custom theme variables
.navbar-custom {
    background-color: $background-color; /* Dark background */
    color: $primary-color; /* Primary color for text */

    .navbar-brand,
    .nav-link {
        color: $primary-color; /* Text color for links */
        transition: color 0.3s ease; 
    }

    .navbar-brand:hover,
    .nav-link:hover {
        color: $highlight-color; /* Highlight color on hover */
    }

    .navbar-toggler {
        border-color: $accent-color;
    }
    

}

// Body Custom Styles
.app-main {
    background-color: $primary-color;
    color: $background-color;
}

// Footer Custom Styles
.footer-custom a {
    color: $accent-color;
    margin: 0 0.5rem; /* Spacing between icons */
    font-size: 1.2rem;
    padding: 1rem 0;
    
    &:hover {
        color: $highlight-color;
    }
}

// Contact Form Modal Styles
.modal-header .btn-close {
    filter: invert(1);  /* Inverts color of close btn, making it white */
    opacity: 0.7;
}

.modal-header .btn-close:hover {
    opacity: 1;
}
